<%= form_for(@brunch) do |f| %>
  <% if @brunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brunch.errors.count, "error") %> prohibited this brunch from being saved:</h2>

      <ul>
      <% @brunch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :opening_time %><br>
    <%= f.time_select :opening_time %>
  </div>
  <div class="field">
    <%= f.label :closing_time %><br>
    <%= f.time_select :closing_time %>
  </div>
  <div class="field">
    <%= f.label :vegetarian_options_available %><br>
    <%= f.check_box :vegetarian_options_available %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
