<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brunch.name %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @brunch.opening_time %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= @brunch.closing_time %>
</p>

<p>
  <strong>Vegetarian options available:</strong>
  <%= @brunch.vegetarian_options_available %>
</p>

<p>
  <strong>Address:</strong>
  <%= @brunch.address %>
</p>

<!-- Add in all of our reviews -->

<%= link_to 'Edit', edit_brunch_path(@brunch) %> |
<%= link_to 'Back', brunches_path %>

<!-- Here add in a link to create a new review -->
